[Unit]
Description=Romanovskii Cybernetics Planner
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/home/pi/rc-planner/rc-planner.service.sh
TimeoutStopSec=5s
Restart=always
User=pi

[Install]
WantedBy=multi-user.target